<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <div class="detailsContent">
        <h2><%= title %></h2>

        <div class="blogs">
            <p class="body"><strong>Patient ID:</strong> <%= patient.id %></p>
            <p class="body"><strong>First Name:</strong> <%= patient.first_name %></p>
            <p class="body"><strong>Middle Name:</strong> <%= patient.middle_name %></p>
            <p class="body"><strong>Last Name:</strong> <%= patient.last_name %></p>
            <p class="body"><strong>Contact Info:</strong> <%= patient.contact_no %></p>
        </div>

        <a href="/patient/edit/<%= patient.id %>" class="edit">Edit</a>
        <a class="delete" data-doc="<%= patient.id %>">Delete</a>
    </div>

    <%- include("./partials/footer.ejs") %>
    <script>
        const deleteDoc = document.querySelector('a.delete');

        deleteDoc.addEventListener('click', (e) => {
            const endpoint = `/patient/delete/${deleteDoc.dataset.doc}`;
            
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch((err) => console.log(err));
        });
    </script>
</body>
</html>
